.component {
  /* CSS grid settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
}

.component::-webkit-scrollbar {
  width: 8px;
}

.component::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  width: 6px;
  border-radius: 5px;
}
