.toplevel {
  display: grid;
  grid-template-columns: 1fr;
}

.nested {
  display: grid;
  grid-template-columns: 1rem /* offset */ 1fr /* 1fr */;

  /* line and parent form a row */
  > .line {
    grid-column: 1 / 2; /* offset */
    justify-self: center;
  }
  > .parent {
    grid-column: 2 / -1; /* 1fr */
  }

  > .children {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid; /* use the same grid as parent */

    /* line and child form a row */
    & > .line {
      grid-column: 1 / 2; /* offset */
      justify-self: center;
    }
    & > *:nth-child(even) {
      grid-column: 2 / -1; /* 1fr */
    }
  }
}

.parent {
  /* Cancel the default <a> decoration */
  text-decoration: none;
  color: inherit;

  color: rgb(43, 43, 43);
}

.parent.current {
  background-color: rgb(233, 233, 233);
  font-weight: 500;
}

.parent:hover {
  background-color: rgb(245, 245, 245);
}

.line {
  border-right: solid 1px rgb(218, 218, 218);
  width: 1px;
}
