.container {
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr) /* left spacing */
    minmax(auto, 1200px) /* contents */
    minmax(16px, 1fr); /* right spacing */

  background-color: rgb(182, 182, 182);

  /* sticky header settings */
  position: sticky;
  top: 0px;
}

.container > div {
  grid-column: 2/-2;
}

.contents {
  display: grid;
  grid-template-columns:
    auto /* logo */
    auto /* ニュース */
    auto /* どうぶつ */
    auto /* ショップ */
    auto /* 園内マップ */
    auto /* アクセス */
    auto /* 料金案内 */
    1fr; /* search box */
  column-gap: 20px;
  align-items: center;

  /* other header settings */
  padding-top: 20px;
  padding-bottom: 20px;

  color: white;
}

.logo {
  font-size: 2rem;
}
