.component {
  display: grid;
  grid-template-columns:
    auto /* logo */
    auto /* ニュース */
    auto /* どうぶつ */
    auto /* ショップ */
    auto /* 園内マップ */
    auto /* アクセス */
    auto /* 料金案内 */
    1fr;
  column-gap: 20px;
  align-items: center;

  /* other header settings */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: rgb(182, 182, 182);
}

.logo {
  font-size: 2rem;
}
