.component {
  display: grid;
  grid-template-columns:
    minmax(30px, 1fr) /* minimum padding = 30px */
    auto
    minmax(auto, 900px)
    auto
    minmax(30px, 1fr); /* minimum padding = 30px */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header  header header header header"
    ".       sideA  main   sideB  ."
    "footer  footer footer footer footer";
  min-height: 100svh;
}

.header {
  grid-area: header;
  background-color: antiquewhite;
}

.sideA {
  grid-area: sideA;
  background-color: aliceblue;
}

.main {
  grid-area: main;
  background-color: sandybrown;
}

.sideB {
  grid-area: sideB;
  background-color: seashell;
}

.footer {
  grid-area: footer;
  background-color: paleturquoise;
}
